.coral-PathBrowser + .js-TagsPickerField-tagList.coral-TagList {
    margin-top: 0.4375rem;


.coral-ColumnView {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: inherit !important; 
    white-space: nowrap;
    outline: none;
}

.coral-ColumnView-column-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     overflow-y: inherit !important; 
}


#kpmg-filter-input{
	width:100%;
}

.kpmg-readonly-input{
	background-color :#DEDEDE;
}

