<sly 
    data-sly-use.player="${'com.coresecure.brightcove.wrapper.models.ExperiencePlayer'}"
    data-sly-use.customPlayer="com.kpmg.core.models.BrightcoveExperiencePlayer">
    <div class="experience-player ${player.containerClass}" id="${player.containerID}" data-sly-test="${player.account && customPlayer.experienceId}">
      <sly data-sly-include="inline-styles.html"/>
      <div id="component-wrap-${player.componentID}" class="brc-align-${player.align}">
        <div class="player-embed-wrap">
          <div id="container-${player.componentID}">
            <div data-experience="${customPlayer.experienceId}"></div>
            <script async defer src="https://players.brightcove.net/${player.account}/experience_${customPlayer.experienceId}/live.js"></script>
          </div>
        </div>
      </div>

    </div>
    <div data-sly-use.wcmInit="/libs/wcm/foundation/components/page/initwcm.js" data-sly-test="${wcmInit.isTouchAuthoring}" title="Configure component here" class="cq-Overlay cq-Overlay--component cq-droptarget cq-Overlay--placeholder" style="color: rgba(0,0,0,.3);
          border-color: rgba(0,0,0,.3);
          background-color: rgba(255,255,255,.25);
          border-style: solid;
          border-width: 0.125rem;
          margin: -0.125rem;
          height: 50px;
          width: 100%;
          line-height: 2.875rem;
          font-size: 0.875rem;
          text-align: center;
      ">Configure ${player.componentContext.component.title}</div>
  </sly>