<sly data-sly-template.pretitle="${@ teaser}">
    <!--/* Adding Icon Before pretitle */-->
    <span class="cmp-teaser__icon" data-sly-test="${properties.iconType=='materialIcon' && properties.icon}">${properties.icon}</span>
    <img class="cmp-teaser__custom-icon" data-sly-test="${properties.iconType=='customIcon' && properties.customIcon}" alt="" src="${properties.customIcon}" loading="lazy" />
    <p class="cmp-teaser__pretitle" data-sly-test.pretitle="${teaser.pretitle}">
        <span class="cmp-teaser__eyebrow" data-sly-test="${properties.eyebrowType=='materialEyebrow' && properties.eyebrow}">${properties.eyebrow}</span>
        <img class="cmp-teaser__custom-eyebrow" data-sly-test="${properties.eyebrowType=='customEyebrow' && properties.customEyebrow}" alt="" src="${properties.customEyebrow}" loading="lazy" />
        ${pretitle}
    </p>
</sly>