// TODO - this is a POC. Will be updated with token values if the POC is approved.
.cmp-profile {
  position: relative;
}
.cmp-profile__img {
  width: 100%;
}

.cmp-profile__name {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cmp-profile__job {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cmp-profile__biography {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
