<div class="cmp-section-highlight">
  <div class="cmp-section-highlight__content-wrapper">
    <div data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
      data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.text="${title.text}"
      data-cmp-data-layer="${title.data.json}" id="${title.id}" class="cmp-title">
      <h1 class="cmp-title__text" data-sly-element="${title.type}"><a
          data-sly-unwrap="${!title.link.valid || title.linkDisabled}" class="cmp-title__link"
          data-sly-attribute="${title.link.htmlAttributes}" data-cmp-clickable="${title.data ? true : false}">${text}</a>
      </h1>
    </div>
    <sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>
    <div data-sly-test="${properties.columns=='singleColumn'}" class="cmp-section-highlight__content-container cmp-section-highlight__content-container--single-column">
      <p>${properties.singleColumn}</p>
    </div>
    <div data-sly-test="${properties.columns=='twoColumns'}" class="cmp-section-highlight__content-container cmp-section-highlight__content-container--two-columns">
      <p>${properties.column1}</p>
      <p>${properties.column2}</p>
    </div>
    <div class="cmp-section-highlight__button-container">
      <sly data-sly-resource="${'./button' @ resourceType='/apps/kpmg/components/content/button', decorationTagName='div'}"></sly>
    </div>
  </div>
</div>