<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ ADOBE CONFIDENTIAL
  ~  __________________
  ~  Copyright 2017 Adobe Systems Incorporated
  ~  All Rights Reserved.
  ~
  ~  NOTICE:  All information contained herein is, and remains
  ~  the property of Adobe Systems Incorporated and its suppliers,
  ~  if any.  The intellectual and technical concepts contained
  ~  herein are proprietary to Adobe Systems Incorporated and its
  ~  suppliers and are protected by trade secret or copyright law.
  ~  Dissemination of this information or reproduction of this material
  ~  is strictly forbidden unless prior written permission is obtained
  ~  from Adobe Systems Incorporated.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->

<sly data-sly-use.scripttag="com.adobe.cq.dtm.reactor.components.scripttag.ScriptTag"
     data-sly-test="${scripttag.src}" 
	  data-sly-use.onetrust="com.kpmg.integration.models.OneTrust">
		<sly data-sly-test.category ="${onetrust.mapOptions['launch']}" data-sly-test.enabled ="${onetrust.oneTrustScript}" ></sly>
       <script type="text/${enabled && category  ? 'plain': 'javascript'}" class="${enabled && category ? ['optanon-category', category]: '' @ join = '-'}" src="${scripttag.src}" async></script>
</sly>