
/**
* AEM, by default, shows a tooltip when hovering over or selecting a component in the authoring view.
* by default, the tooltip shows at the bottom right side of the component.
* 
* This CSS will show an additional tooltip at the **top left side** of the component. this is exceptionally helpful for vertically long components.
* 
* DISCLAIMER: this is a nice-to-have, and  could potentially not work in future versions of AEM.
*             however, it would not cause any breaking in future versions as it is additive CSS/
**/

/** Show tooltip on top-left corner of component in author only view **/
.cq-Overlay::after {
    content: attr(title);
    color: #9f9f9f;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: normal;
    padding: 4px 8px 4px 6px;
    border-bottom-right-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    margin: -2px;
    z-index: 30;
}

/** if the component is selected or hovered on, show a more emphasize tooltip (Matches AEM ootb tooltip) **/
.cq-Overlay.is-active::after, .cq-Overlay.is-hover::after { 
    background-color: #2680eb;
    color: #fff;
    margin: 0;
}

/** if this is a placeholder, prefix the name with [Placeholder] to make sure authors konw which component this placeholder is for. **/
.cq-Overlay.cq-Overlay--placeholder::after {
    content: '[Placeholder] ' attr(title);
}