scripts=["
    create service user kpmg-search-indexer-service-user with path /home/users/system/kpmg
    set ACL for kpmg-search-indexer-service-user
        allow jcr:read, rep:write on /content
        allow jcr:all on /var
        allow jcr:all on /apps
        allow jcr:all on /conf
        allow jcr:read on /home
    end
"]